In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [20]:
table = session.query(Measurement)
table

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temperatures = session.query(Measurement).filter(extract('month', Measurement.date) == 6)

In [6]:
#  3. Convert the June temperatures to a list.
june_temperatures_list = [temp.tobs for temp in june_temperatures]

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temperatures_df = pd.DataFrame(june_temperatures_list)

In [8]:
june_temperatures_df.head()

      0
0  78.0
1  76.0
2  78.0
3  76.0
4  77.0

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temperatures_df.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temperatures = session.query(Measurement).filter(extract('month', Measurement.date) == 12)

In [11]:
# 7. Convert the December temperatures to a list.
december_temperatures_list = [temp.tobs for temp in december_temperatures]

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temperatures_df = pd.DataFrame(december_temperatures_list)

In [13]:
december_temperatures_df.head()

      0
0  76.0
1  74.0
2  74.0
3  64.0
4  64.0

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temperatures_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [65]:
december_temperatures_df.count()

0    1517
dtype: int64

## D3: Extra Queries

In [56]:
#Query 1a - June Over 70 Percentage
june_over_70 = session.query(Measurement.tobs).\
filter(extract('month', Measurement.date) == 6).\
filter(Measurement.tobs >= 70).all()

In [57]:
#Query 1b - December Over 70 Percentage
dec_over_70 = session.query(Measurement.tobs).\
filter(extract('month', Measurement.date) == 12).\
filter(Measurement.tobs >= 70).all()

In [80]:
june_count = len(june_over_70)
dec_count = len(dec_over_70)
june_total = june_temperatures_df.count()
dec_total = december_temperatures_df.count()
june_percent = float(june_count / june_total) * 100
dec_percent = float(dec_count / dec_total) * 100

In [81]:
print(june_percent)
print(dec_percent)

94.76470588235294
68.29268292682927

In [62]:
#Query 2a - June Precipitation
june_prcp = session.query(Measurement.prcp).\
filter(extract('month', Measurement.date) == 6).\
filter(Measurement.prcp >= 0.01).all()

In [63]:
#Query 2b - December Precipitation
dec_prcp = session.query(Measurement.prcp).\
filter(extract('month', Measurement.date) == 12).\
filter(Measurement.prcp >= 0.01).all()

In [64]:
print(len(june_prcp))
print(len(dec_prcp))

927
895